<style type="text/css">
	body {
		margin: 0px;
		padding: 0px;
	}
	.wrapper {
		width: 960px;
		margin: 58px auto 0px auto;
		min-height: 640px;
	}
	.main {
		width: 960px;
		min-height: 640px;
	}
	ul li {
		list-style: none;
	}
	.nav {
		border: 1px solid gray;
		height: 58px;
		line-height: 58px;
		top: 0px;
		right: 0px;
		position: fixed;
		width: 100%;
		margin-bottom: 80px;
		background-color: ;
		z-index: 1000;
	}
	
</style>

<div class="nav">
	<ul>
		<li></li>
		<li></li>
	</ul>
</div>
<div class="wrapper">
	<div class="main">
		welcome
	</div>
</div>